#story_text {
  width:55%;
  display: block;
  position: relative;
  left: 25%;
  top:10%;
  color:#7F0300;
  background: #000000;
}

#battle_area {
  width:55%;
  display: block;
  position: relative;
  left: 25%;
  color:#7F0300;
  padding:20%;
}

#battle_button{
  width:10em;
  height:10em;
}

body{
  background:url(./imgs/dungeon_background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'MedievalSharp', cursive;
  font-weight: 800;
  font-size: 2em;
}
