table, td, th {
      background-color: #FFFFFF;
      border: 2px solid black;
      padding: 1em;
      border-radius: 4%;
    }
body{
  background-color: #000000;
}

.header {
  color: #FFFFFF;
  display: block;
  position: relative;
  left: 25%;
}

.table_color{
  background-color: #787B7F;
}

